
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main > h1 {
  text-align: center;
  background-color: indianred;
  padding: 1em;
  margin-top: 0;
  margin-bottom: -0.5em;
}

img {
  max-width: 100%;
}

.hidden {
  display: none;
}

.hikeStyles {
  padding: 0;
  margin: 1em 0;
  list-style-type: none;
}

.hikeStyles div {
  padding: 0 0.5em;
}

.hikeStyles li > h2 {
  text-align: center;
  background-color: burlywood;
  margin-bottom: 0.5em;
}

.info button {
  font-size: 1.5em;
}

.light {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.light > h2 {
  width: 100%;
  flex: 1 0 auto;
}

.light > div {
  width: 40%;
  margin-left: 1em;
  flex: 1 1 auto;
}
.light h3 {
  margin-bottom: -0.5em;
}

.full .image {
  width: 100%;
}

.full .info {
  width: 50%;
}

.full .one-hike {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 875px) {         /* 32.5em) { */ 
  .full .one-hike {
    display: flex;
    flex-direction: column;
  }     
}
/*
body {
    border: 5px solid rgb(74, 74, 74);
    margin: 0;
    padding: 0;  
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .image {
    max-width: 50%;
    padding: 25px;
  }

  h1 {
    background-color: rgb(7, 144, 144);
    color: rgb(58, 3, 100);
    display: block;
    text-align: center;
    margin: 0;
    padding: 50px;
    font-size: 70px;
    font-family: sans-serif;
    margin-bottom: 20px;
    border: 2px solid black;
  }

  h2 {
    border: 3px solid black;
    background-color: rgb(106, 233, 233);
    color: black;
    display: block;
    text-align: center;
    padding: 20px;
    margin: 0;
    font-family: sans-serif;
    font-size: 40px;
  }

  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

  .one-hike {
    display: flex;
    flex-direction: row;
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  p {
    font-family: sans-serif;
  }
*/