body {
    background-color: #abe653;
    color: black;
    /*
    color: #e67053;
    color: #e653ab;
    color: #abe653;
    color: #53e6c9;
    */
}

h1, h2, h3 {
    font-family: "Libre Baskerville", 'Times New Roman', Times, serif;
    padding: 10px;
}

h3 {
    margin: 10px;
}

li {
    list-style: none;
}

table {
    margin: 10px;
    position: relative;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 3px;
    margin: 0;
}

#availheader {
    position: sticky;
}

#playerlistpage {
    display: grid;
    grid-template-columns: 4;
    grid-template-rows: 2;
}

#availlist {
    margin: 15px;
    grid-column: 1/5;
    grid-row: 1/2;
    border: 2px solid brown;
    background-color: #e653ab;
    max-height: 300px;
    overflow: scroll;
    max-width: 800px;
}

#mylist {
    margin: 15px;
    grid-column: 1/5;
    grid-row: 3/5;
    border: 2px solid rgb(16, 6, 16);
    background-color: #e67053;
    max-height: 300px;
    overflow: scroll;
    max-width: 800px;
}

#playerdesc {
    margin: 15px;
    grid-column: 1/5;
    grid-row: 2/3;
    border: 2px solid blue;
    background-color: #53e6c9;
    max-width: 800px;
}

p, div {
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    margin: 10px;
} 

button {
    margin: 10px;
    display: inline;
}

.hidden {
    display: none;
}

.selected {
    background-color: black;
    color: #abe653;
}

.index {
    display: none;
}

.per {
    display: inline;
}

#selbtns {
    display: flex;
    flex-direction: row;
}

#asearch, #msearch {
    display: flex;
    flex-direction: row;
}

