button {
    background-color: #047526;
    color: yellow;
    border: 3px solid yellow;
    padding: 5px;
    margin: 10px;
    display: inline;
}

div {
    display: block;
}

div p {
    text-align: left;
    display: inline;
}

#evalEveryOut {
    display: inline;
}

h2 {
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
}