button {
    display: block;
    margin: 10px;
}

.teamactivity button {
    display: inline;
    margin: 5px;
}

input {
    margin: 10px;
}

div {
    display: inline;
}

.group {
    display: block;
}

div p {
    margin-left: 35px;
}
